[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfiglet = "*"
textual = {path = "./../textual/dist/textual-0.1.14.tar.gz"}

[dev-packages]

[requires]
python_version = "3.10"
